{% extends "layout.html" %}
{% block body %}
<body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Slidicious</a>

        </div>
      </div>
    </div>

<div class="container">
    <div class="hero-unit">
	    <p>
		    Automated slide building service.
	    </p>

	    <p>
		    <span class="link">http://62.220.148.19{{url_for('github_hook')}}</span>
	    </p>
	    <p>
		Copy this to your github web hook.
	    </p>
    </div>

</div>


</body>
{% endblock %}
<!--</body>-->
<!--</html>-->
