{% extends "layout.html" %}
{% block body %}
<body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Slidicious</a>

        </div>
      </div>
    </div>

<div class="container">
    <div class="hero-unit">
    	<p>
		Slidicious is an automated slide building service. It build your slide from markdown format to html and pdf. It then upload the result to this site.
	</p>
    </div>

    <div class="hero-unit">
        <h2> How to setup slidicious </h2>
	<p>
		To make slidicious work, simply point the github hook url to {{url_for('github_hook')}}. This will trigger the build everytime you push the repository to gitub. 
	</p>
	<p>
		Your compiled slides can be found in /static/{username}/repositoryname.html for the html slide and /static/{username}/repositoryname.pdf for the pdf slides.
	</p>

    </div>

</div>


</body>
{% endblock %}
<!--</body>-->
<!--</html>-->
