{%extends "layout.html"%}
{%block body%}

    <div class="container slides-list">
      <div class="row">
	 {% for slide in slides %}
	    <div class="span4 slide">
		   <h2>{{slide.author}}</h2>
		   <i class="icon-file"></i>
		   <p>
		 {{slide.file_name}}
		   </p>
	    </div>
	 {% endfor %}
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    </div><!-- /.container -->
{%endblock%}
